#include "tentalice.dtsi"

&xiao_serial { status = "disabled"; };

&kscan0 {
	gpios
		= <&xiao_d 2 (GPIO_ACTIVE_HIGH)>
		, <&xiao_d 3 (GPIO_ACTIVE_HIGH)>
		, <&xiao_d 5 (GPIO_ACTIVE_HIGH)>
		, <&xiao_d 4 (GPIO_ACTIVE_HIGH)>
		, <&xiao_d 1 (GPIO_ACTIVE_HIGH)>
		, <&xiao_d 0 (GPIO_ACTIVE_HIGH)>
		, <&xiao_d 9 (GPIO_ACTIVE_HIGH)>
		;

};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                <NRF_PSEL(SPIM_MOSI, 1, 15)>,
                <NRF_PSEL(SPIM_MISO, 1, 15)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                <NRF_PSEL(SPIM_MOSI, 1, 15)>,
                <NRF_PSEL(SPIM_MISO, 1, 15)>;
            low-power-enable;
        };
    };
};

#include <zephyr/dt-bindings/input/input-event-codes.h>

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&xiao_d 7 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610-alt"; 
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        cpi = <600>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        invert-y; 
    };
};

#include <input/processors.dtsi>

&zip_temp_layer {
    excluded-positions = <
        14 // S
        15 // D
        16 // F
        19 // J
        20 // K
        21 // L
        27 // C
        28 // V
        29 // left B
        30 // right B
        31 // N
        32 // M
        12 // left Ctrl
        24 // left Shift
        37 // left Alt
        23 // right Ctrl
        35 // right Shift
        40 // right Alt

    >;
};

&zip_temp_layer {
    require-prior-idle-ms = <200>;
};

/ {
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        
        input-processors = <
            &zip_temp_layer 4 100000
        >;

        scroll_mode {
            layers = <1 2>;
            input-processors = <
                &zip_scroll_scaler 1 6
                &zip_xy_to_scroll_mapper
            >;
        };
        
    };
};